@font-face {
    font-family: 'fuente';
    src: url('fuente.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playwrite Cuba';
    src: url('PlaywriteCuba.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Playwrite Cuba', sans-serif;
    background: url('../ima/fondblack.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(255, 165, 0, 0.7); /* Naranja con opacidad */
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    font-size: 3em;
    color: #000; /* Negro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6); /* Fondo negro con opacidad */
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
    color: #ffa500; /* Naranja */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.7em;
    color: #ffa500; /* Naranja */
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    transform: scale(1.05);
    margin: 10px;
}

footer {
    background-color: rgba(255, 140, 0, 0.7); /* Naranja más oscuro con opacidad */
    padding: 20px;
    text-align: center;
    color: #000; /* Negro */
    font-size: 1.2em;
    border-top: 4px solid #ff4500; /* Naranja más intenso */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

.marca-especial {
    font-family: 'fuente';
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 3em;
    color: #ffa500; /* Naranja */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
